ul {
    list-style: none;
}

ol, ul {
    padding: 0;
}

a {
    text-decoration: none;
}

button, input, select, textarea {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

/* content Css */
#content {
    position: relative;
    top: 32px;
    margin-left: 160px;
    padding-left: 20px;
}

.collapse #content {
    margin-left: 36px;
}

#content .content-wrapper {
    margin: 10px 20px 0 2px;
}

#content .content-wrapper h1 {
    display: inline-block;
    margin-right: 5px;
    color: #1d2327;
    font-size: 23px;
    font-weight: 400;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}

.button {
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: 1px solid #2271b1;
    border-radius: 2px;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #2271b1;
    background: #f6f7f7;
    cursor: pointer;
}

.button:hover {
    background: #f0f0f1;
    border-color: #0a4b78;
    color: #0a4b78;
}

.button:focus {
    border-color: #3582c4;
    box-shadow: 0 0 0 1px #3582c4;
    outline: 2px solid transparent;
}

.button:active {
    background: #f6f7f7;
    border-color: #8c8f94;
    box-shadow: none;
}

#content .message {
    position: relative;
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-color: #00a32a;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    padding: 1px 12px;
    padding-right: 38px;
    margin: 5px 0 15px;
}

#content p {
    font-size: 13px;
    line-height: 1.5;
    margin: 0.5em 0;
    padding: 2px;
}

#content p a {
    padding-bottom: 2px;
    text-decoration: underline;
}

#content .notice-dismiss {
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    background: 0 0;
    color: #787c82;
    cursor: pointer;
}

#content .notice-dismiss::before {
    background: transparent;
    color: #787c82;
    content: "\f153";
    display: block;
    font: normal 16px/20px dashicons;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* #content #content-top Css */
#content #content-top {
    height: 30px;
}

#content #content-top ul {
    margin: 8px 0 0;
    padding: 0;
    font-size: 13px;
    float: left;
    color: #646970;
}

#content #content-top ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#content #content-top ul li a {
    line-height: 2;
    padding: 0.2em;
}

#content #content-top ul li a.current {
    font-weight: 600;
    border: none;
    color: #000;
}
#content #content-top ul li a.current .count {
    color: #50575e;
    font-weight: 400;
}


#content #content-top ul li a:focus {
    color: #043959;
    box-shadow: 0 0 0 1px #4f94d4, 0 0 2px 1px rgb(79 148 212 / 80%);
    outline: 1px solid transparent;
}

#content #content-top #search-box {
    float: right;
    margin: 0;
}

#content #content-top #search-box .button,
#content #content-action .button {
    display: inline-block;
    top: 0;
    font-weight: 400;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

#content #content-top #search-box input[name="seaech-input"] {
    min-width: 177px;
    min-height: 30px;
    float: left;
    margin: 0 4px 0 0;
    padding: 0 8px;
    line-height: 2;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    -webkit-appearance: textfield;
}

#content #content-top #search-box input[name="seaech-input"]:focus {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

/* #content #content-action Css */
#content #content-action {
    height: 30px;
    margin: 6px 0 4px;
    padding-top: 4px;
    vertical-align: middle;
}

#content #content-action .content-count {
    float: right;
    margin: 0 0 9px;
}

#content #content-action .content-count span {
    display: inline-block;
    margin: 5px 0;
}

#content #content-action .actions {
    display: inline-block;
    padding: 0 8px 0 0;
}

#content #content-action .actions select {
    float: left;
    margin-right: 6px;
    max-width: 12.5rem;
    font-size: 14px;
    line-height: 2;
    color: #2c3338;
    border-color: #8c8f94;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    max-width: 25rem;
    -webkit-appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}

#content #content-action .actions select:focus-visible {
    border-color: #2271b1;
    color: #0a4b78;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 0;
}

#content #content-action .actions select:active {
    border: 1px solid #8c8f94;
    box-shadow: none;
    outline: 0;
}

/* #content #content-list Css */
#content #content-list thead tr td,
#content #content-list thead tr th {
    color: #2c3338;
}

#content #content-list th,
#content #content-list thead td {
    font-weight: 400;
}

thead tr {
    border-bottom: 1px solid #c3c4c7;
}

#content #content-list table .check-box {
    width: 2.2em;
    padding: 11px 0 0 3px;
    padding-top: 4px;
    vertical-align: middle;
}


#content #content-list td input,
#content #content-list tfoot td input,
#content #content-list th input,
#content #content-list thead td input {
    margin: 0 0 0 8px;
    vertical-align: text-top;
}

input[type=checkbox], input[type=radio] {
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background: #fff;
    color: #50575e;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1rem;
    margin: -0.25rem 0.25rem 0 0;
    outline: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
    -webkit-appearance: none;
    min-width: 1rem;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: .05s border-color ease-in-out;
}

input[type=checkbox]:checked::before {
    content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
    margin: -0.1875rem 0 0 -0.25rem;
    height: 1.3125rem;
    width: 1.3125rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

#content #content-list table {
    table-layout: fixed;
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
}

#content #content-list table * {
    word-wrap: break-word;
}

td {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

#content #content-list table thead th {
    text-align: start;
    padding: 9px 10px;
}

#content #content-list table thead th#thumbnail {
    border-right: 1px solid #c3c4c7;
    width: 11%;
}

#content #content-list table thead th#title {
    border-right: 1px solid #c3c4c7;
}

#content #content-list table thead th#date {
    width: 14%;
}
#content #content-list table tbody tr {
    transition: all .1s ease-in-out;
}

#content #content-list table tbody tr:hover {
    background: #f9f9f9;
}

#content #content-list table tbody td {
    border-top: 1px solid #c3c4c7;
    padding: 8px 10px;
    font-size: 13px;
    line-height: 1.5em;
}

#content #content-list table tbody td.post-title {
    vertical-align: top;
}

#content #content-list table tbody td.check-box input {
    margin-top: -10px;
}

#content #content-list table tbody td.post-thumbnail,
#content #content-list table tbody td.post-title {
    border-right: 1px solid #c3c4c7;
}

#content #content-list table tbody td.post-thumbnail a {
    display: inline-block;
}

#content #content-list table tbody td.post-thumbnail img {
    width: 120px;
    height: 68px;
    vertical-align: middle;
}

#content #content-list table tbody td.post-title strong {
    display: block;
    margin: 10px auto 8px;
    font-weight: 600;
}

table td, table th {
    color: #50575e;
}

#content #content-list table tbody td.post-title strong a {
    font-size: 14px;
}

#content #content-list table tbody td.post-title strong .post-state {
    font-size: 14px;
}

#content #content-list table .post-actions {
    color: #dcdcde;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 0 0;
    opacity: 0;
}

#content #content-list table tr:hover .post-actions {
    opacity: 1;
    transition: all .2s ease-in-out;
}

#content #content-list table .post-actions span a {
    padding: 0 2px;
}

#content #content-list table .post-actions .post-edit a  {
    font-size: 14px;
}

#content #content-list table .post-actions .post-trash a,
#content #content-list table .post-actions .post-delete a  {
    color: #b32d2e;
}




